.list-group-item {
  line-height: 2.5;
}

.comments-table{
  background: rgba(82, 71, 71, 0.5);
  color: aliceblue;
  font-family: 'Montserrat';
}
th {
  color: aliceblue;
}
#beer-comment{
  width: 100%;
}
#navbar {
  background: white;
  height: 1.5em;
  margin: .25em 0 .5em 0;
}

body {
  background-image: url("../img/bg2.jpeg");
  background-size: cover;
  background-color: #cccccc;
  height: 100vh;
  width: 100vw;
}

#tableHead {
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

#tableRow{
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}
#title {
  font-size: 2.25em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#leaderboard {
  margin: 1em;
  border-radius: 5%;
}

#box {
  border: .25em solid rgb(212, 187, 75);
}

#navbar {
  background: white;
  height: 1.5em;
  margin: .5em 0 .5em 0;
}
