.list-group-item {
  line-height: 2.5;
}

html, body {
  height:100%;
  padding: 0;
  margin: 0;
}

html {
  background:url(../img/bg2.jpeg) no-repeat center;
}
#beer-comment{
  width: 80%;
}

body {
  background:rgba(255,255,255,0.2); /* applies a 20% transparent white background */
}

#appName {
  font-size: 1.5em;
  background: black;
  color: white;
  padding: 0 0.3em 0 0.3em;
}

#tableHead {
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

#tableRow{
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6em;
}
#title {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#leaderboard {
  padding: 1em;
  z-index: 0;  
  
}

#box {
  border: .25em solid rgb(212, 187, 75);
}

#name-text {
  width: 70%;
}

#email-text {
  width: 20%;
}

#navbar {
  background: white;
  height: 2.1em;
  margin-bottom: .5em;
  padding: 0.7em 0 0.5em 0;
  z-index: 0;
}